PORT=3000

# Connect to Supabase via connection pooling
# DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database]?schema=public"
DATABASE_URL="postgresql://postgres.lwkawmfmdzznaoqojpen:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.lwkawmfmdzznaoqojpen:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

SUPABASE_URL="https://[project-id].supabase.co"
SUPABASE_KEY="[your-anon-key]"
