PORT="3000"
NODE_ENV="development"

# Json Web Token secret key
JWT_SECRET="[your-secret-key]"

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database]?schema=public"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.lwkawmfmdzznaoqojpen:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

SUPABASE_URL="https://[project-id].supabase.co"
SUPABASE_KEY="[your-anon-key]"

# URL del frontend (OAuth y recuperación de contraseña)
FRONTEND_URL="http://localhost:3000"